
body {
        font-family: 'Roboto', sans-serif;
        color: white;
        background-color: black;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
}



.main-title {
  text-align: center;
}

  .nav-bar-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  a {
    color: white;
    text-decoration: none;
  }
  
  li:hover {
    font-weight: bold;
  }
  
  main {
  
    font-family: 'Roboto', sans-serif;

  }

  footer {
    width: 100%;
    background-color: black;
    color: white;
  }
  
  .footer-input-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  
  form {
    margin-left: 20px;
  }
  
  .social-media-icons {
    margin-right: 20px;
  }
  
  .footer-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  
  p {
    font-family: 'Roboto', sans-serif;
  }
  
 

h1 {
  text-align: left;
}

.container {
  margin: 100px;
  max-height: 20px;
}

.title {
  text-align: left;
}

.title:hover {
  background-color: red;
}

#map {
  align-self: flex-start;
  margin: 100px;
  
}

#competition-form {
  padding:10px;
  background-color: rgba(255, 0, 0, 0.891);
  font-family: 'Roboto', sans-serif;
  }


header:hover {
  background-color:red;
}
